<a href="https://colab.research.google.com/github/VijayTaori/Datetime-module-in-Python/blob/master/Convert_Datetime2UnixTimestamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df_open = pd.read_csv('/content/crypto_et_open_ut.csv')
print(df_open.columns)

Index(['Open_Position ID', 'Open Datetime', 'Open Date_x', 'Open Action',
       'Open Units', 'Open Amount_Eur', 'Open Rate_Eur',
       'open_unix_timestamp'],
      dtype='object')

In [3]:
df_open['Open Datetime'] = pd.to_datetime(df_open['Open Datetime'],dayfirst=True)
df_open['Open Date_x'] = pd.to_datetime(df_open['Open Date_x'],dayfirst=True)

In [9]:
import time

In [4]:
def convert2UnixTimestamp(date_time):
  unix_timestamp = time.mktime(date_time.timetuple())
  return unix_timestamp

In [6]:
df_open

,Open_Position ID,Open Datetime,Open Date_x,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur,open_unix_timestamp
0,599295474,2020-04-17 13:09:00,2020-04-17,Buy Bitcoin,0.014029,92.484010,6592.389676,1587128960
1,599875563,2020-04-17 16:40:00,2020-04-17,Buy Ethereum,0.580499,92.484010,159.322203,1587141629
2,599996081,2020-04-17 18:42:00,2020-04-17,Buy Bitcoin,0.014149,92.484010,6536.362863,1587148962
3,600052383,2020-04-18 13:49:00,2020-04-18,Buy Bitcoin,0.103664,693.630071,6691.116356,1587217772
4,600057583,2020-04-18 16:48:00,2020-04-18,Buy Bitcoin,0.020751,138.726014,6685.280615,1587228510
...,...,...,...,...,...,...,...,...
805,1395459836,2021-11-17 10:55:00,2021-11-17,Buy Ethereum,0.252729,956.671958,3785.367680,1637146520
806,1395474358,2021-11-17 11:33:00,2021-11-17,Buy Ethereum,0.120850,457.343177,3784.382811,1637148792
807,1419921913,2021-12-04 05:26:00,2021-12-04,Buy Shiba (in millions),0.794084,23.474908,29.563296,1638595561
808,1425416509,2021-12-09 09:14:00,2021-12-09,Buy Cardano,83.616294,102.425388,1.223466,1639041286
809,2325392242,2022-11-16 16:35:00,2022-11-16,Buy Songbird,11.510000,0.145118,0.009675,1668616546

In [10]:
df_open['open_unix_timestamp2'] = df_open['Open Datetime'].map(convert2UnixTimestamp)

In [11]:
df_open

,Open_Position ID,Open Datetime,Open Date_x,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur,open_unix_timestamp,open_unix_timestamp2
0,599295474,2020-04-17 13:09:00,2020-04-17,Buy Bitcoin,0.014029,92.484010,6592.389676,1587128960,1.587129e+09
1,599875563,2020-04-17 16:40:00,2020-04-17,Buy Ethereum,0.580499,92.484010,159.322203,1587141629,1.587142e+09
2,599996081,2020-04-17 18:42:00,2020-04-17,Buy Bitcoin,0.014149,92.484010,6536.362863,1587148962,1.587149e+09
3,600052383,2020-04-18 13:49:00,2020-04-18,Buy Bitcoin,0.103664,693.630071,6691.116356,1587217772,1.587218e+09
4,600057583,2020-04-18 16:48:00,2020-04-18,Buy Bitcoin,0.020751,138.726014,6685.280615,1587228510,1.587228e+09
...,...,...,...,...,...,...,...,...,...
805,1395459836,2021-11-17 10:55:00,2021-11-17,Buy Ethereum,0.252729,956.671958,3785.367680,1637146520,1.637146e+09
806,1395474358,2021-11-17 11:33:00,2021-11-17,Buy Ethereum,0.120850,457.343177,3784.382811,1637148792,1.637149e+09
807,1419921913,2021-12-04 05:26:00,2021-12-04,Buy Shiba (in millions),0.794084,23.474908,29.563296,1638595561,1.638596e+09
808,1425416509,2021-12-09 09:14:00,2021-12-09,Buy Cardano,83.616294,102.425388,1.223466,1639041286,1.639041e+09
809,2325392242,2022-11-16 16:35:00,2022-11-16,Buy Songbird,11.510000,0.145118,0.009675,1668616546,1.668616e+09

In [12]:
df_open.dtypes
# Convert open_unix_timestamp2 to int64 before converting it to datetime

Open_Position ID                 int64
Open Datetime           datetime64[ns]
Open Date_x             datetime64[ns]
Open Action                     object
Open Units                     float64
Open Amount_Eur                float64
Open Rate_Eur                  float64
open_unix_timestamp              int64
open_unix_timestamp2           float64
dtype: object