<a href="https://colab.research.google.com/github/VijayTaori/Datetime-module-in-Python/blob/master/convert_unix_timestamp2DateTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import datetime as dt

In [13]:
df_open = pd.read_csv('/content/crypto_et_open_ut.csv')

In [14]:
print(df_open.columns)
df_open.dtypes

Index(['Open_Position ID', 'Open Datetime', 'Open Date_x', 'Open Action',
       'Open Units', 'Open Amount_Eur', 'Open Rate_Eur',
       'open_unix_timestamp'],
      dtype='object')

Open_Position ID         int64
Open Datetime           object
Open Date_x             object
Open Action             object
Open Units             float64
Open Amount_Eur        float64
Open Rate_Eur          float64
open_unix_timestamp      int64
dtype: object

In [15]:
df_open

,Open_Position ID,Open Datetime,Open Date_x,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur,open_unix_timestamp
0,599295474,17/04/2020 13:09,17/04/2020 00:00,Buy Bitcoin,0.014029,92.484010,6592.389676,1587128960
1,599875563,17/04/2020 16:40,17/04/2020 00:00,Buy Ethereum,0.580499,92.484010,159.322203,1587141629
2,599996081,17/04/2020 18:42,17/04/2020 00:00,Buy Bitcoin,0.014149,92.484010,6536.362863,1587148962
3,600052383,18/04/2020 13:49,18/04/2020 00:00,Buy Bitcoin,0.103664,693.630071,6691.116356,1587217772
4,600057583,18/04/2020 16:48,18/04/2020 00:00,Buy Bitcoin,0.020751,138.726014,6685.280615,1587228510
...,...,...,...,...,...,...,...,...
805,1395459836,17/11/2021 10:55,17/11/2021 00:00,Buy Ethereum,0.252729,956.671958,3785.367680,1637146520
806,1395474358,17/11/2021 11:33,17/11/2021 00:00,Buy Ethereum,0.120850,457.343177,3784.382811,1637148792
807,1419921913,04/12/2021 05:26,04/12/2021 00:00,Buy Shiba (in millions),0.794084,23.474908,29.563296,1638595561
808,1425416509,09/12/2021 09:14,09/12/2021 00:00,Buy Cardano,83.616294,102.425388,1.223466,1639041286
809,2325392242,16/11/2022 16:35,16/11/2022 00:00,Buy Songbird,11.510000,0.145118,0.009675,1668616546

In [ ]:
# If open_unix_timestamp was not in int64 then convert it using below codeline
#df_open['open_unix_timestamp'] = pd.to_numeric(df_open['open_unix_timestamp'])

In [10]:
# dayfirst=True not required as this is absolute conversion
df_open['open_unix_timestamp'] = pd.to_datetime(df_open['open_unix_timestamp'],
                                                dayfirst=True,unit='s')

In [11]:
df_open.dtypes

Open_Position ID                int64
Open Datetime                  object
Open Date_x                    object
Open Action                    object
Open Units                    float64
Open Amount_Eur               float64
Open Rate_Eur                 float64
open_unix_timestamp    datetime64[ns]
dtype: object

In [12]:
df_open

,Open_Position ID,Open Datetime,Open Date_x,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur,open_unix_timestamp
0,599295474,17/04/2020 13:09,17/04/2020 00:00,Buy Bitcoin,0.014029,92.484010,6592.389676,2020-04-17 13:09:20
1,599875563,17/04/2020 16:40,17/04/2020 00:00,Buy Ethereum,0.580499,92.484010,159.322203,2020-04-17 16:40:29
2,599996081,17/04/2020 18:42,17/04/2020 00:00,Buy Bitcoin,0.014149,92.484010,6536.362863,2020-04-17 18:42:42
3,600052383,18/04/2020 13:49,18/04/2020 00:00,Buy Bitcoin,0.103664,693.630071,6691.116356,2020-04-18 13:49:32
4,600057583,18/04/2020 16:48,18/04/2020 00:00,Buy Bitcoin,0.020751,138.726014,6685.280615,2020-04-18 16:48:30
...,...,...,...,...,...,...,...,...
805,1395459836,17/11/2021 10:55,17/11/2021 00:00,Buy Ethereum,0.252729,956.671958,3785.367680,2021-11-17 10:55:20
806,1395474358,17/11/2021 11:33,17/11/2021 00:00,Buy Ethereum,0.120850,457.343177,3784.382811,2021-11-17 11:33:12
807,1419921913,04/12/2021 05:26,04/12/2021 00:00,Buy Shiba (in millions),0.794084,23.474908,29.563296,2021-12-04 05:26:01
808,1425416509,09/12/2021 09:14,09/12/2021 00:00,Buy Cardano,83.616294,102.425388,1.223466,2021-12-09 09:14:46
809,2325392242,16/11/2022 16:35,16/11/2022 00:00,Buy Songbird,11.510000,0.145118,0.009675,2022-11-16 16:35:46